/* Estilo general    */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Estilos del heading */
h1 {
    color: #333;
    font-size: 2rem;
    margin: 20px 0;
}

/* Estilos del container */
#cat-container {
    padding: 20px;
}

#cat-container img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos del botón */
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #fc47c5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff8af5;
}

/* Responsive*/
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }

    #cat-container img {
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}
